@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Muli);

html, body {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Libre Baskerville, "Times New Roman", serif;
  font-size:14px;

}

header {
  z-index: 1000;
	height:100px;
	background-color: #343434;
	clear:both;
  position: relative;

}

header h1 {
	padding-top: 12px;
	padding-left: 12px;
	display:block;
	float:left;
}

header nav {
	display: block;
	float: right;
	line-height: 100px;
	padding-right: 20px;
}

header nav a {
	text-decoration: none;
	font-family: Muli, Arial, sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-size: 12px;
}

header nav a ul.active {
  border-bottom: 1px solid #fff;
}

header nav a ul {
	display: inline;
	margin-left: 20px;
}

header nav a ul:hover {
	border-bottom: 1px solid #fff;
}

header .menu, header nav.mobile {
  display: none;
  z-index: 300;
}

.collapsing-dropdown {
  display: none;
}

/* home */

.background-pic-home {
  background: url('../images/salon.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.home-hero {
  height:460px;
  margin-top:75px;
  position: relative;
  padding-left: 20px;
}

.home-hero img {
  position: relative;
  z-index: 200;
}

.home-hero .hero {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, .5);
  line-height: 1.2;
}

.home-hero .hero span {
  font-size: 25px;
  line-height: 1.2;
}

/* about */

.background-pic-about {
  background: url('../images/salon.jpg') no-repeat center;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.about-content {
  position:relative;
  background-color: #FDFDFD;
  z-index: 200;
  padding: 20px;

}

.about-content .sixteen.columns {
  width: 100%;
  margin: 0;
}

.about-blurb {
  line-height: 1.5;
  position: relative;

}

.about-blurb .content {
  padding-bottom: 20px;
}

.about-blurb h3 {
  text-transform: uppercase;
  font-family: Muli, Arial, sans-serif;
  font-size: 16px;
}

.about-blurb p {
  padding-right: 10px;
  }

.about-blurb .image img {
  width: 100%;
}

.about-image {
  float:right;
  padding-top:20px;
}

.about-image img {
  width:100%;
}



/*services*/

.background-pic-services {

  background-color: #FDFDFD;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.services-content {
  position: relative;
  z-index: 200;


}

.services-content .row.product-list .left, .services-content .row.product-list .middle, .services-content .row.product-list .right{
    display: inline-block;
    width: 33.33%;
    text-align: center;

}

.services-content .row.product-list .left {
  float: left;
}
.services-content .row.product-list .right{
  float: right;
}

.services-content .row.product-list li {
  font-size: 14px;
  padding: 10px 0;
}
.services-content .row.product-list li a {
  text-decoration: none;
  color: #343434;
}
.services-content .row.product-list li a:hover {
  text-decoration: underline;
}


.services-content .hair, .services-content .beauty, .services-content .hair, .services-content .product  {
  text-align: center;
  font-size: 18px;
  font-family: Muli, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}


.services-content .hair img, .services-content .beauty img {
  width: 20px;
  vertical-align: middle;
}

.services-content .row {
  margin-top: 50px;
  margin-bottom: 75px;
}

.services-content .row .middle table, .services-content .row .left table, .services-content .row .right table {
  width: 100%;
  clear:both;
}

thead {
  float: left;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

table  {
  line-height: 1.2;
}

.price {
  float:right;


}


/*work*/

.background-pic-work {
  background: url('../images/salon.jpg') no-repeat center;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.work-content {
  z-index: 200;
  display: block;
  position: relative;
  background: white;
  padding: 20px;
}

.work-content img {
  max-width: 100%;
}

.work-content .grid {
  margin: 0 auto;
}

.work-content .grid .grid-item, .work-content .grid .grid-sizer {
  width: 22%;
}

.work-content .grid .grid-item {
  margin-top: 4%;
}

.work-content .grid .gutter-sizer {
  width: 4%;
}

.work-content .grid .grid-item--width2 {
  width: 48%;
  margin-top: 4%;
}



/*Team */

.background-pic-team {
  background: url('../images/salon.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.team-content {
  height:auto;
  position:relative;
  background-color: #FDFDFD;
  z-index: 10;
  margin-top: 0;
  padding:20px;
  line-height: 1.5;
}

.team-content .row h3 {
  font-family: Muli, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;

}

.team-content .staff.sixteen.columns.image {
  margin: 0;
  width: 100%;
}
.team-content .image img {
  width: 100%;
}

.team-content .row .staff {
  margin: 0;
}

.team-content .row .staff.eight.columns .content {
  padding: 10px;
}

.team-content .row .staff.eight.columns .content h3, .team-content .row .staff.eight.columns .content span {
  display: inline;
}

/*Salon*/

.background-pic-salon {
  background: url('../images/map.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  /*display: block;*/
}

.salon-content {
  position:relative;
  background-color: #FDFDFD;
  z-index: 200;
  line-height: 1.5;
  padding:20px;

}

.salon-content h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Muli, Arial, sans-serif;
}

.salon-content .address {
  background: url('../images/scissorsbanner.png') repeat-x;
  background-size: 16px;

}

.salon-content .address h3 {
  padding-top: 40px;
}

.salon-content .seven.columns.address a {
  display: none;
}

.salon-content .copyright {
  display: none;
}



.salon-content .times, .salon-content .contact, .salon-content .follow {
  margin-top: 20px;

}

.salon-content .follow a {
  text-decoration: none;
  padding-right: 20px;
  color:inherit;
}

.salon-content .follow a span {
  margin-left: 10px;

}

.salon-content .follow a.social img {
  margin-top: 5px;
}

.salon-content .follow a.social.facebook img {
  border:1px solid #343434;
  border-radius: 2px;
  margin-top: 10px;
}

.salon-content .map {
  display: block;
  float: right;
  position: relative;
}

footer {
  position: relative;
  z-index: 200;
  height:100px;
  background-color: #343434;
  /*display:block;*/
  display: table;
  width: 100%;
}

footer h4 {
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  color:#fff;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 5px;
}

footer p a {
  color:#fff;
}

footer a.social {
  margin-right: 5px;
}

footer .row {
  display: table-row;
  width: 100%;
}
footer .row .content{
  margin: 0 !important;
  padding: 20px;
  display: table-cell;
}

footer .row .four.columns .content {
  word-wrap: break-word;
}

.four.columns.margin {
  margin-left: 20px;
}

@media only screen and (max-width: 958px) {
  footer .row .content{
    display: block;
  }
}

@media only screen and (max-width: 767px) {

.container {
  width:100%;
}

header h1 {
  padding-top: 0;
  line-height: 100px;
}

header h1 a img {
  width: 120px;
  vertical-align: middle;
}

header nav {
  display: none;
  padding-right: 0;
}

header .menu {
  display: block;
  float: right;
  line-height: 100px;
  margin-right: 20px;
  color:#fff;
  font-family: Muli, Arial, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.collapsing-dropdown {
  position: absolute;
  height: 100%;
  top: 0;
  width: 300px;
  right: 0;
  display: none;
  background: white;
  z-index: 2000;
  overflow: visible;
}

.collapsing-dropdown ul li a {
  display: block;
  padding: 15px;
}

.collapsing-dropdown {
  display: none;
  overflow: visible !important;
}

.collapsing-dropdown button {
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.collapsing-dropdown ul {
  margin-top: 40px;
}

.collapsing-dropdown ul li {
  list-style: none;
  border: none;
}

.collapsing-dropdown ul li a {
  background: white;
  color: #2d2d2d;
  text-decoration: none;
  font-size: 16px;
}

.collapsing-dropdown ul li a:hover {
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

.backdrop {
  opacity: 0.6;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}


.home-hero img {
  margin-top: 50px;
}

footer {
  /*display:none;*/
  position: relative;

}

footer .four.columns {
  clear: both;
  margin: 0 !important;
}


table {
  margin-top: 20px;
}

.about-image img {
  display: none;
}

.about-content .sixteen.columns {
  width: 100%;
}
.about-content .sixteen.columns .ten.columns.about-blurb {
  width: 100% ;
}

.about-content .about-blurb p {
/*  padding-right: 10px;*/
}

.about-content .about-blurb p, .about-content .about-blurb h3 {
/*  padding-right: 20px;
  padding-left: 20px;*/

}


.work-content .work-hero img {
  display:none;
}

.work-content .row {
  padding:10px;
}

.work-content .row .one-third.column {
  width: 100%;
  margin-bottom: 20px;
}


.team-content .row .staff {
  width: 100%;
  position: relative;
}

.team-content .row .staff.six.columns.image {
  text-align: center;
}

.team-content .row .staff img {
  float: none;
}

.salon-content .seven.columns {
  width: 100%;
}

.salon-content .seven.columns.address a {
  text-transform: uppercase;
  display: inline;
}

.salon-content .map {
  display: none;
}

.salon-content .copyright {
  margin-top: 20px;
  display: block;

}



.salon-content .copyright a {
  color:inherit;
}

.services-content .five.columns, .services-content .six.columns  {
  width: 100%;

}
.services-content .five.columns .content, .services-content .six.columns .content {
  padding: 10px;
}






}


