@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Muli);

html, body {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Libre Baskerville, "Times New Roman", serif;
  font-size:12px;
  
}

header {
  z-index: 200;
	height:100px;
	background-color: #343434;
	clear:both;
  position: relative;
  
}

header h1 {
	padding-top: 12px;
	padding-left: 12px;
	display:block;
	float:left;
}

header nav {
	display: block;
	float: right;
	line-height: 100px;
	padding-right: 20px;
}

header nav a {
	text-decoration: none;
	font-family: Muli, Arial, sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-size: 12px;
}

header nav a ul.active {
  border-bottom: 1px solid #fff;
}

header nav a ul {
	display: inline;
	margin-left: 20px;
}

header nav a ul:hover {
	border-bottom: 1px solid #fff;
}




/* home */

.background-pic-home {
  background: url('../images/sunset-hair.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.home-hero {
  height:460px;
  margin-top:75px;
  position: relative;
  padding-left: 20px;
}

.home-hero img {
  position: relative;
  z-index: 200;
}

/* about */

.background-pic-about {
  background: url('../images/door.jpg') no-repeat center;
  background-size: cover;

  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.about-content {
  height:460px;
  position:relative;
  background-color: #FDFDFD;
  z-index: 200;
  margin-top: 290px;
  color: ;
}

.about-blurb {
  padding:20px;
  line-height: 1.5;
}

.about-blurb h3 {
  text-transform: uppercase;
  font-family: Muli, Arial, sans-serif;
  font-size: 16px;

}

.about-image {
  float:right;
  padding-top:20px;
}

.about-image img {
  width:100%;
  
}

/*services*/

.background-pic-services {

  background-color: #FDFDFD;
    background-size: cover;

  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.services-content {
  position: relative;
 z-index: 200;
  
}

.services-content .hair, .services-content .beauty  {
  text-align: center;
  font-size: 18px;
  font-family: Muli;
  text-transform: uppercase;
  margin-top: 75px;
}

.services-content .hair img, .services-content .beauty img {
  margin-top: 20px;
}

.services-content .row {
  margin-top: 50px;
  margin-bottom: 75px;
}

.services-content .row .middle table, .services-content .row .left table, .services-content .row .right table {
  width: 100%;
  clear:both;
}

thead {
  float: left;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

table  {
  line-height: 1.2;
}

.price {
  float:right;

 
}


/*work*/

.background-pic-work {
  background: url('../images/inside2.jpg') no-repeat center;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.work-content {
  margin-top: 180px;
  z-index: 200;
  display: block;
  position: relative;

}

.work-content .work-hero {
  width:250px;
  margin-bottom: 100px;
  padding:20px;

}

.work-content img {
  width: 100%;
}

.work-content .row {
  padding-top: 20px;
  padding-bottom: 20px;
 margin-bottom: 0;
  background-color: #fdfdfd;
}

.work-content .row .five.columns {

}

/*Team */

.background-pic-team {
  background: url('../images/sunset-girl.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.team-content {
  height:auto;
  position:relative;
  background-color: #FDFDFD;
  z-index: 200;
  margin-top: 280px;
  padding:20px;
  line-height: 1.5;
}

.team-content .row h3 {
  font-family: Muli, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;

}

.team-content .image img {
  float:right;
}

/*Salon*/

.background-pic-salon {
  background: url('../images/map.jpg') no-repeat center;
 background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  display: block;
}

.salon-content {
  height:460px;
  position:relative;
  background-color: #FDFDFD;
  z-index: 200;
  margin-top: 280px;
  line-height: 1.5;
  padding:20px;

}

.salon-content h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Muli, Arial, sans-serif;
  

}


.salon-content .times, .salon-content .contact {
  margin-top: 20px;
  
}

.salon-content .map {
  display: block;
  float: right;
  position: relative;
}







footer {
  position: relative;
  z-index: 200;
  height:100px;
  background-color: #343434;
  padding:20px;
  display:block;
}

footer h4 {
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  color:#fff;
  font-size: 12px; 
  line-height: 1.5; 
}

footer p a {
  color:#fff;
}

footer a.social {
  margin-right: 5px;
}

.four.columns.margin {
  margin-left: 20px;
}

.four.columns.margin.last {
  width:150px;
}


